.disable-margin{
    margin: 0px!important;
}

.disable-padding{
    padding: 0px!important;
}

.color-background-balance{
    background-color: rgba(42, 101, 145, 0.1)!important;
}

.color-text-balance{
    color: #2A6591!important;
}